<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS with Django</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    {% verbatim %}
        <br>
        <div id="app" class="container">
            <ul class="list-group">
                <li v-for="(item, index) in info" class="list-group-item">
                    {{ index + 1 }} - {{ item.title }}
                    <button type="button" class="btn btn-primary" v-on:click="updateCourse(item)">Update</button>
                    <button type="button" class="btn btn-danger" v-on:click="deleteCourse(item)">Delete</button>
                </li>
            </ul>


            <br>
            <br>
            <hr>
            <form>
                <div class="form-group">
                    <label for="course_name">Course Name</label>
                    <input type="text" class="form-control" id="course_name" placeholder="Enter Course Name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endverbatim %}



    <script>
        new Vue({
            el: '#app',
            data: {
                info: null
            },
            mounted () {
                axios
                .get('/api/courses/')
                .then(response => {
                    console.log(response);
                    this.info = response.data;
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                })
                .finally(() => this.loading = false)
            },
            methods: {
                updateCourse: function (object) {
                    console.log("Update Course!");
                    console.log(object);
                },
                deleteCourse: function (object) {
                    console.log("Delete Course!");
                    console.log(object);
                }
            }
        })
    </script>
</body>
</html>